@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@300;

400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: sans-serif;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

header,
nav,
aside,
footer {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul,
ol,
li {
  list-style-type: none;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.app-touch-main {
  z-index: 1;
}

.app-touch-form {
  z-index: 100;
}

html,
body {
  overflow: hidden;
}

.app * {
  font-family: 'Spectral', serif;
  font-weight: 400;
  font-style: normal;
}

.app .after::after {
  content: '';
  width: 1rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 1rem;
  flex: 0 0 1rem;
  min-height: .1rem;
}

.app-touch {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #000;
  overflow: hidden;
}

.app-touch-main,
.app-touch-goods {
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.app-touch-main {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  overflow: hidden;
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.app-touch-main__scroll {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.app-touch-main__section_screen {
  width: 100%;
  height: 46vh;
  padding: 0 1rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  z-index: 1;
}

.app-touch-main__section_goods {
  width: 100%;
  padding: 1rem;
}

.app-touch-main__parallax {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 70%;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1504114133367-631ecd3db3ca?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1944&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}

.app-touch-main__look {
  width: 100%;
  height: 10rem;
  background-color: #FAF5F1;
  border-radius: 1rem;
  -webkit-box-shadow: 0 .05rem .1rem #ccc;
  box-shadow: 0 .05rem .1rem #ccc;
  z-index: 3;
  overflow: hidden;
  padding: 2rem;
}

.app-touch-main .goods__see-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.app-touch-main .goods__wrap-scroll {
  margin: 0 -1rem;
  overflow: hidden;
  height: 32rem;
  padding: 1rem 0;
}

.app-touch-main .goods__scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  height: 37rem;
  padding: 0 1rem;
}

.app-touch-main .goods__scroll .good {
  width: 18rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 18rem;
  flex: 0 0 18rem;
  height: 30rem;
  margin-right: 1rem;
  -webkit-box-shadow: 0 .05rem .1rem #ccc;
  box-shadow: 0 .05rem .1rem #ccc;
  overflow: hidden;
  border-radius: 1rem;
}

.app-touch-main .goods__scroll .good:last-of-type {
  margin-right: 0;
}

.app-touch-main .goods__scroll .good__content {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 4.75rem;
  grid-template-rows: 1fr 4.75rem;
  overflow: hidden;
}

.app-touch-main .goods__scroll .good__wrap-img {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.app-touch-main .goods__scroll .good__wrap-text {
  position: relative;
}

.app-touch-main .goods__scroll .good__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: 2;
}

.app-touch-main .goods__scroll .good__time {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  z-index: 3;
  color: #fff;
  font-family: 'Inter', serif;
}

.app-touch-main .goods__scroll .good__name {
  font-size: 1rem;
  line-height: 1.4;
  padding: 1rem;
  font-family: 'Inter', serif;
}

.app-touch-form {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  overflow: hidden;
  background-color: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.app-touch-form__wrap {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.app-touch-form__wrap-form {
  width: 100%;
  height: 77vh;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 77vh;
  flex: 0 0 77vh;
  background-color: #fff;
  border-top-right-radius: 3rem;
  border-top-left-radius: 3rem;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform .3s ease 0s;
  transition: -webkit-transform .3s ease 0s;
  -o-transition: transform .3s ease 0s;
  transition: transform .3s ease 0s;
  transition: transform .3s ease 0s, -webkit-transform .3s ease 0s;
}