.app-touch-title {
    font-weight: 500;
    font-family: 'Bitter', serif;

    &_welcome {
        font-size: 1.8rem;
        line-height: 1.2;
        font-weight: 500;
    }

    &_goods {
        font-size: 1.3rem;
        height: 4rem;
        display: flex;
        align-items: center;
    }
}

.app-touch-descr {
    font-weight: 400;
    color: #403777;

    &_welcome {
        font-size: .8rem;
    }
}