.app-touch-form {
    flex: 0 0 100%;
    width: 100%;
    position: absolute;
    height: 100%;
    overflow: hidden;
    background-color: transparent;

    opacity: 0;
    visibility: hidden;
    transition: all .3s ease 0s;

    &.active {
        opacity: 1;
        visibility: visible;
    }

    &__close {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__swipe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;

        &:after {
            content: '';
            width: 2rem;
            height: .2rem;
            border-radius: 5rem;
        }
    }

    &__wrap-form {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 77vh;
        padding: 2rem;
        border-top-right-radius: 2rem;
        border-top-left-radius: 2rem;
        overflow: hidden;

        transform: translateY(100%);
        transition: transform .3s ease 0s;

        &.active {
            transform: translateY(0%);
        }

        &.swipe {
            transform: translateY(20%);
        }
    }

    & .form {
        width: 100%;
        height: 100%;
        position: relative;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 6rem auto 1fr 3rem;

        &__name-submit,
        &__ingredients-submit {
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 0;
        }

        &__good {
            width: 100%;
            height: 100%;
            position: relative;
            display: grid;
            grid-template-columns: 6rem 1fr;
            grid-gap: 1rem;

            &-img {
                width: 100%;
                height: 100%;
                border-radius: 1rem;
                overflow: hidden;

                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            &-wrap {}

            &-name {}

            &-time {
                margin-top: .5rem;
                font-size: 0.9rem;
            }
        }

        &__title {
            width: 100%;
            height: 100%;
            position: relative;
            padding: 2rem 0 1rem .1rem;

            & h2 {
                font-size: 1.2rem;
                font-weight: 600;
            }
        }

        &__ingredients {
            width: 100%;
            height: 100%;
            padding: .5rem 0 2rem 0;
        }

        &__ingredient {

            &-el {
                display: flex;
                align-items: center;
                padding: .5rem 0;

                &.active .form__ingredient-chec {
                    border-width: .4rem;
                    border-style: solid;
                }

                &.nothing {
                    margin-top: 1rem;
                }
            }

            &-chec {
                width: 1.4rem;
                height: 1.4rem;
                border-width: .05rem;
                border-style: solid;
                border-radius: 50%;
                margin-right: .5rem;
                transition: all .2s ease 0s;
            }

            &-name {
                font-weight: 400;
            }
        }

        &__btn {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            &-submit {
                width: auto;
                flex: 0 0 auto;
                height: 100%;
                padding: 0 2rem;
                border-radius: 5rem;
                border-width: .05rem;
                border-style: solid;
            }
        }
    }
}