.app-touch-good {
    flex: 0 0 100%;
    width: 100%;
    position: absolute;
    height: 100%;
    overflow: hidden;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    transition: all .3s ease 0s;

    &.active {
        opacity: 1;
        visibility: visible;
    }

    &__scroll {
        width: 107%;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 07%;
    }

    &__categories {
        position: fixed;
        top: 4rem;
        left: 0;
        z-index: 10;
        width: 100%;
        height: 3.5rem;
        overflow: hidden;
        background-color: #fff;
        border-bottom: .1rem solid #f2f2f2;

        &-scroll {
            display: flex;
            flex-wrap: nowrap;
            overflow-y: hidden;
            overflow-x: auto;
            height: 6rem;
        }

        &-el {
            flex: 0 0 auto;
            height: 3.4rem;
            padding: 0 1rem;
            display: flex;
            align-items: center;
            position: relative;

            & span {
                color: #000;
                font-weight: 400;
                font-size: 1rem;
                transition: all .5s ease 0s;
            }

            &::after {
                content: '';
                position: absolute;
                right: 0;
                bottom: 0;
                width: 0%;
                height: .1rem;
                background-color: #402eb6;
                transition: all .4s ease 0s;
            }

            &.active {
                & span {
                    color: #402eb6;
                }

                &::after {
                    left: 0;
                    width: 100%;
                }
            }
        }
    }

    &__goods {
        width: 100%;
        padding: 9rem 1rem 2rem 1rem;
        position: relative;

        & .expectation {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #fff;
            z-index: 99;

            display: flex;
            justify-content: center;
            align-items: center;

            & span {
                width: 1.6rem;
                height: 1.6rem;
                border: .13rem solid #403777;
                border-radius: 50%;
                border-left-color: transparent;
                animation: expectationLoading .5s linear 0s infinite;
            }

            transition: all .3s ease 0s;

            &.active {
                opacity: 0;
                visibility: hidden;
            }
        }

        &-wrap {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 1rem;
        }
    }

    & .good {
        width: 100%;
        border-radius: 1rem;
        height: auto;
        overflow: hidden;

        &.hide {
            display: none;
        }

        &.show {
            animation-name: show;
            animation-duration: .5s;
            animation-iteration-count: 1;
            animation-direction: normal;
            animation-timing-function: ease;
            animation-fill-mode: forwards;
            animation-delay: 0s;
        }

        &__content {
            overflow: hidden;
        }

        &__wrap {
            width: 100%;
            padding-bottom: 125%;
            position: relative;
            overflow: hidden;
            z-index: 1;
            border-radius: 1rem;
        }

        &__wrap-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            z-index: 2;
        }

        &__img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0;
            transition: all .3s ease 0s;

            &.active {
                opacity: 1;
            }
        }

        &__time {
            position: absolute;
            right: 1rem;
            bottom: 1rem;
            z-index: 4;
            color: #fff;
        }

        &__pepper {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 3;
            background-color: rgba(0, 0, 0, .1);
        }

        &__wrap-text {
            padding: 1rem .1rem;
        }

        &__name {
            font-size: 1rem;
            font-weight: 600;
            margin-bottom: 1rem;
        }

        &__choose {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border: .05rem solid #ccc;
            border-radius: 1rem;
            padding: .5rem;
            font-size: .8rem;
            font-weight: 400;
            color: #999;
            background-color: #fff;
            transition: all .2s ease 0s;

            &.active {
                background-color: #403777;
                border-color: transparent;
                color: #fff;
            }
        }
    }
}

@keyframes show {
    0% {
        display: block;
        transform: scale(.4);
    }

    100% {
        display: block;
        transform: scale(1);
    }
}

@keyframes expectationLoading {
    0% {}

    100% {
        transform: rotate(360deg);
    }
}