.app-touch-main {
    z-index: 1;
}

.app-touch-good {
    z-index: 2;
}

.app-touch-form {
    z-index: 1000;

    &__close {
        z-index: 1001;
    }

    &__wrap-form {
        z-index: 1002;
    }

    & .form {
        z-index: 1003;

        &__name {
            z-index: 1004;
        }

        &__title {
            z-index: 1005;
        }
    }
}