.app-touch {
    background-color: #fff;
}

.app-touch-back {
    background-color: #fff;

    &__title {
        color: #000;
    }
}

.app-touch-form {
    &__close {
        background-color: rgba(0, 0, 0, .5);
    }

    &__swipe {
        background-color: #fff;

        &:after {
            background-color: #ccc;
        }
    }

    &__wrap-form {
        background-color: #fff;
    }

    & .form {
        &__good {
            &-name {
                color: #000;
            }

            &-time {
                color: #999;
            }
        }

        &__title {
            background-color: inherit;

            & h2 {
                color: #000;
            }
        }

        &__ingredients {
            background-color: inherit;
        }

        &__ingredient {
            &-el {
                &.active .form__ingredient-chec {
                    border-color: #fff;
                    background-color: #403777;
                }
            }

            &-chec {
                border-color: #e2e2e2;
                background-color: #fff;
            }

            &-name {
                color: #000;
            }
        }

        &__btn {
            &-submit {
                color: #403777;
                background-color: #fff;
                border-color: #403777;
            }
        }
    }
}

.app-touch-good {
    background-color: #fff;

    &__scroll {
        background-color: inherit;
    }

    &__categories {
        background-color: #fff;
        border-color: #f2f2f2;

        &-scroll {
            background-color: inherit;
        }

        &-el {
            background-color: inherit;

            & span {
                color: #000;
            }

            &:after {
                background-color: #402eb6;
            }

            &.active {
                & span {
                    color: #402eb6;
                }
            }
        }
    }

    &__goods {
        background-color: inherit;

        & .expectation {
            background-color: #fff;

            & span {
                border-color: #403777;
            }
        }

        &-wrap {
            background-color: inherit;
        }
    }

    & .good {
        background-color: inherit;

        &__content {
            background-color: inherit;
        }

        &__time {
            color: #fff;
        }

        &__pepper {
            background-color: rgba(0, 0, 0, .1);
        }

        &__wrap-text {
            background-color: inherit;
        }

        &__name {
            color: #000;
        }

        &__choose {
            color: #999;
            border-color: #ccc;
            background-color: inherit;

            &.active {
                color: #fff;
                border-color: transparent;
                background-color: #403777;
            }
        }
    }
}

.app-touch-main {
    background-color: #fff;

    &__scroll {
        background-color: inherit;
    }

    &__section {
        background-color: inherit;
    }

    & .goods {
        background-color: inherit;

        &__wrap-scroll {
            background-color: inherit;

            & .expectation {
                background-color: #fff;

                & span {
                    border-color: #403777;
                }
            }
        }

        &__scroll {
            background-color: inherit;

            & .good {
                background-color: inherit;

                &__content {
                    background-color: inherit;
                }

                &__time {
                    color: #fff;
                }

                &__pepper {
                    background-color: rgba(0, 0, 0, .1);
                }

                &__wrap-text {
                    background-color: inherit;
                }

                &__name {
                    color: #000;
                }

                &__choose {
                    color: #999;
                    border-color: #ccc;
                    background-color: inherit;

                    &.active {
                        color: #fff;
                        border-color: transparent;
                        background-color: #403777;
                    }
                }
            }
        }
    }
}

.app-touch-title {
    color: #000;
}

.see-el {
    & span {
        color: #403777;
    }
}