html,
body {
    overflow: hidden;
}

.app {
    overflow: hidden;
    min-height: 100%;

    * {
        font-family: 'Nunito', sans-serif;
        font-weight: 600;
        font-style: normal;
    }

    & .after::after {
        content: '';
        width: 1rem;
        flex: 0 0 1rem;
        min-height: .1rem;
    }

    & .cursor-none {
        cursor: none;
    }

    &-touch {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
    }
}